Source: blankon-keyring
Section: misc
Priority: optional
Maintainer: BlankOn Developers <BlankOn@googlegroups.com>
XSBC-Original-Maintainer: Michael Vogt <michael.vogt@canonical.com>
Standards-Version: 3.8.3

Package: blankon-keyring
Priority: important
Architecture: all
Multi-Arch: foreign
Depends: gnupg | gnupg2
Recommends: gpgv
Description: GnuPG keys of the BlankOn archive
 The BlankOn project digitally signs its Release files. This package
 contains the archive keys used for that.

Package: blankon-keyring-udeb
Architecture: all
Section: debian-installer
Recommends: gpgv-udeb
Description: GnuPG keys of the BlankOn archive
 The BlankOn project digitally signs its Release files. This package
 contains the archive keys used for that, in a minimal form for use
 in the installer.
